[Desktop Entry]
Name=Zohara DEB Installer
Comment=Install Debian packages via Zohara Engine
Exec=zohara-deb-engine %f
Icon=system-software-install
Terminal=true
Type=Application
Categories=System;
MimeType=application/vnd.debian.binary-package;
NoDisplay=true
