[Desktop Entry]
Name=User Manager
GenericName=Manage User Accounts
Comment=Create and manage system user accounts
Exec=zohara-settings --page Accounts
Icon=system-users
Terminal=false
Type=Application
Categories=Settings;System;
Keywords=user;account;password;create;
