[Desktop Entry]
Type=Application
Exec=zohara-welcome
Name=Zohara Welcome
Comment=Install Zohara, move from another system, or get started
Icon=distributor-logo
Terminal=false
StartupNotify=true
Categories=System;
