[Desktop Entry]
Type=Application
Exec=plasma-discover %U
Icon=plasmadiscover
Name=Zohara Store
GenericName=Software Center
Comment=Discover and install software
Categories=Qt;KDE;System;PackageManager;
Terminal=false
StartupNotify=true
