[Desktop Entry]
Name=Zohara Settings
GenericName=System Settings
Comment=Configure your Zohara OS system
Exec=/usr/local/bin/zohara-settings
Icon=zohara-settings
Terminal=false
Type=Application
Categories=Settings;System;Qt;
Keywords=settings;update;appearance;users;theme;
StartupWMClass=zohara-settings
X-KDE-System-Settings-Parent-Category=system
